
.pointer {
  cursor: pointer;
}

.larger {
  font-size: larger;
}

.rounded {
  border-radius: 5px;
}

.frames {
  border-style: double;
  border-width: 3px;
}

.no-padding {
  padding: 0;
}

.auto-width {
  width: auto;
}